.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #2C7AEC;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
    padding: 2px;
}

.calc-img {
    padding-left: 20px;
    width: 60px;
    height: 60px;
    outline: none;
}

.calculator[target = calcButton] {
    background-color: aqua;
    width: 220px;
}
.subbySub {
    background-color: aqua;
    width: 100px;
    text-align: center;
}
.calculator{
  padding-left: 20px;
  outline: none;
}
