body{
  display: flex;
  flex-direction: column;
  background: #2C7AEC;
}
.signUp{
  align-self: flex-end;
}
button[target]{
      background-color: white;
      color: #2C7AEC;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 15%;
      box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}
.stock{
  width: 50%;
  align-self: center;
}
h1{
  font-family: 'Lato', sans-serif;
  color: white;
  align-self: center;
  padding-left: 10px;
}
/****************
MAIN NAV
****************/
.mainNav a {
	display: block;
	padding-right: 10px;
}
.mainNav li{
  list-style: none;
}
ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0px 0px 0px 12px;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  color: #fff;
}
/***************
Search
***************/
input[type=text] {
    width: 150px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
    border-radius: 25px;
}
