body{
  display: flex;
  flex-direction: column;
  background: #2C7AEC;
}
.signUp{
  align-self: flex-end;
}
button[target]{
      background-color: white;
      color: #2C7AEC;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 15%;
      box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}
.stock{
  width: 50%;
  align-self: center;
}
h1{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: white;
  align-self: center;
  padding-left: 10px;
  text-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}
h2{
  font-size: 25px;
  font-family: 'Lato', sans-serif;
  align-self: center;
  color: white;
  padding-top: 50px;
  text-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}

h3{
  font-family: 'Lato', sans-serif;
  align-self: center;
  color: white;
  text-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}
label{
  color: white;
}
p{
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  align-self: center;
  color: white;
  margin: 50px;
  padding: 0px, 25px, 0px, 25px;
}
table{
  color: white;
  align-self: center;
}
th{
  text-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}
th, td {
    padding: 15px;
    text-align: center;
}
/****************
MAIN NAV
****************/
.mainNav a {
	display: block;
	padding-right: 10px;
  padding-top: 11px;
  outline: none;
}
.mainNav li{
  list-style: none;
  text-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
}
ul {
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 0px 0px 0px 12px;
}
a[target]{
  text-decoration: none;
  color: #fff;
}
a[target=inLineLink]{
  text-decoration: underline;
  weight: bold;
  outline: none;
}
/***************
Images
***************/
.profilePicture{
  border-radius: 50%;
  border: 3px solid #2C7AEC;
  width: 60px;
  height: 60px;
}
/***************
Search
***************/
input[type=text][target=search] {
    width: 150px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
    border-radius: 25px;
    border: solid 1px white;
    background: #2C7AEC;
    color: white;
    box-shadow: -7px 7px 10px rgba(0, 0, 0, 0.5);
    outline: none;
}
input[type=text][target=search]::placeholder{
  color: white;
}
input[type=text][target=cal] {
    width: 150px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
    border-radius: 25px;
}
input[type=text][target=cal]::placeholder{
  color: grey;
}
.search {
  display: inline-block;
  text-align: center;
}
.search label {
  display: block;
}
/****************
RADIO BUTTONS
****************/
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #2C7AEC;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
input[type='radio'] + label{
  padding-left: 5px;
}
/****************
FOOTER
****************/
footer{
  background: #064BB0;
}
